.navbar {
  background-color: white;
  padding: 0px;
  font-size: 15px;
  font-color: #1ba1e2;
}

.titleofsliders1 {
  height: 50px;
  margin-top: 50px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

#home {
	padding-top: 20px;
  padding-bottom: 20px;
	background-color: #fffff;
  background-size: cover;
  margin-bottom: 20px;
  color: black;
}

.titleofslidersspace {
  height: 50px;
  margin-top: 30px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

.titleofsliders2 {
  height: 50px;
  margin-top: 0px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

#experience {
	padding-top: 20px;
	padding-bottom: 20px;
  margin-top: 0px;
	background-color: #ffffff;
  font-size: 16px
}

#Tier0 {
  background-size: contains;
	padding-top: 0px;
	padding-right: 0px;
  height: 200px;
	padding-bottom: 0px;
}

.titleofsliders3 {
  height: 50px;
  margin-top: 0px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

#projects {
	padding-top: 20px;
	padding-bottom: 20px;
  margin-top: 0px;
	background-color: #ffffff;
  font-size: 16px
}