#MainImage
{
    background: url(https://github.com/starkc1/Starkc1.github.io/blob/master/images/TestImage.png?raw=true) 50% fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}