    body {
        background-color: white;
        font-family: "Times New Roman";
    }
    
    .navbar-default {
        background-color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        border-color: #2F5597;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-size: 25px;
    }
    
    .navbar-default .navbar-nav>li>a:hover {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 3px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
    }
    
    .navbar-brand {
        color: white;
    }
    
    .navbar-default .navbar-collapse {
        background-color: #2F5597;
        border-color: #2F5597;
    }
    
    #logo {
        height: 40px;
        margin: -10 0 15 0;
    }
    
    #logo:hover {
        cursor: pointer;
    }
    
    .container-fluid .jumbotron {
        border-radius: 0;
    }
    
    .jumbotron {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        text-align: center;
        padding: 24px;
        margin-top: 60px;
    }
    
    #Name {
        font-size: 50px;
        padding: 0px;
        margin: 0px;
    }
    
    #Edu {
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }
    
    hr {
        padding: 0px;
        margin: 10px;
    }
    
    .jumbotron-home {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        text-align: center;
        padding: 24px;
        margin-top: 20px;
    }
    
    .jumbotron-home-title {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        text-align: center;
        padding: 24px;
        margin-top: 20px;
    }
    
    .jumbotron-fixed {
        position: fixed;
    }

    .jumbotron-experience {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        text-align: center;
        padding: 24px;
        margin-top: 20px;
    }

    .jumbotron-projects {
        background-color: white;
        color: #2F5597;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.25), 0 0px 3px rgba(0, 0, 0, 0.22);
        text-align: center;
        padding: 24px;
        margin-top: 20px;
    }

    
xmp { 
  margin: 5px 0; 
  padding: 0 5px 5px 5px; 
  background: #CCC; 
}

xmp:before { 
  content: ""; display: 
  block; height: 1em; 
  margin: 0 -5px -2em -5px; 
}