.navbar {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a
{
	color: white;
}

#MainImage {
    background: url(https://github.com/Tier-Zero/Tier-Zero.github.io/blob/master/images/Tampa_2.png?raw=true)no-repeat center center fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

.my-2 {
    background-color: #f00006;
}

.opening {
    color: white;
    margin: 15px;
}

.jumbotron {
    background-color: #f00006;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: -20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
}

.detail {
    color: white;
    font-size: 16px;
    margin: 15px;
}

.closing {
    color: white;
    font-size: 11px;
    margin: 15px;
}

.intro {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0px;
    text-align: center;
    transform: translate(0%, -50%);
    padding: 0 15px;
}

.btn {
  font-size: 14px;
  padding: 8px 16px;
  border: 0;
  color: #083791!important;
  margin: 6px;
  border-radius: 0px;
  white-space: normal!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.btn-header {
  background-color: white;
  color: #f00006;
  width: 100px;
}

.btn-header:hover {
    box-shadow: 0 3px 19px rgba(0,0,0,0.25), 0 0px 3px rgba(0,0,0,0.22);
}

.module-header {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    color: black;
}

.module-title {
    color: #f00006;
}

.card-cascade.narrower {
    margin-top: 40px;
}

.card-cascade {
    display: inline-block;
}

.card {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    width: 80%;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.view {
    margin-top: -20px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 4px;  
}

img {
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.img-fluid { 
    width: 100%;
    height: auto;
}

.view img {
    display: block;
    position: relative;
}

.card img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
    height: auto;
}

.card-block {
    flex: 1 1 auto;
    padding: 20px;
}

.card-text {
    text-align: center;
    color: black;
}

.card-header {
    background-color: #f00006;
    color: white;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 20px 20px;
}

#benefits #design #install {
    margin-bottom: 50px;
}

.dropdown-menu {
    border-radius: 0;
    width: 50px;
}

.dropdown-item {
    width: 100%;
    padding: 10px 10px;
}
