.navbar {
  background-color: white;
  border-color: transparent;
  padding: 0px;
  font-size: 15px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 0px;
    background-color: #f1f1f1;
    border-spacing: 10px;
}

#topBackground {
	background: url(https://github.com/starkc1/Starkc1.github.io/blob/master/images/Space_2.jpg?raw=true) 50% fixed;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 0px 0px;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 200px 0;
}

.titleofsliders {
  height: 50px;
  margin-top: 50px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

.titleofsliders1 {
  height: 50px;
  margin-top: 0px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

#home {
	padding-top: 10px;
  padding-bottom: 20px;
	background-color: #ffffff;
  background-size: cover;
  margin-bottom: 20px;
  color: black;
}

#headshot {
  background-size: contains;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#Project {
	padding-top: 10px;
  padding-bottom: 20px;
	background-color: #ffffff;
  background-size: cover;
  margin-bottom: 20px;
  color: black;
  border-color: transparent;
}

.titleofslidersspace {
  height: 50px;
  margin-top: 30px;
  background-color: #1ba1e2;
  color: white;
  text-align: center;
  font-size: 35px;
}

#experience {
	padding-top: 20px;
	padding-bottom: 20px;
  margin-top: 0px;
	background-color: #ffffff;
  font-size: 16px
}

#Tier0 {
  background-size: contains;
	padding-top: 0px;
	padding-right: 0px;
  height: 200px;
	padding-bottom: 0px;
}

#projects {
	padding-top: 20px;
	padding-bottom: 20px;
  margin-top: 0px;
	background-color: #ffffff;
  font-size: 16px
}
