<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Angular Practice</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Smooth crolling CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script type="text/javascript"></script>

</head>

<style>
    .card {
        margin-top: 40px;
        margin-bottom: -22px;
        box-shadow: 0px 4px 8px 0px gray;
        border-radius: 11px;
    }
    
    .card-header {
        background-color: #003777;
        color: white;
        font-size: 20px;
        padding: 12px 15px;
    }
    
    .card-block {
        padding: 12px 15px;
        background-color: #e8e8e8
    }
    
    .text-muted {
        color: #f3f3f3
    }
    
    .body {
        background-color: #f8f8ff;
    }

    .input {
        background-color: #003777;
    }
</style>

<body ng-app="Portfolio">
    <div class="row" ng-controller="ActualController">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card" ng-repeat="Info in info">
                <div class="card-header">
                    <h4 class="card-title"> {{ Info.name }} </h4>
                    <h6 class="card-subtitle text-muted"> {{ Info.description }} </h6>
                    <detailed></detailed>
                    <input type="button" value="Show More" ng-click="ShowHide()" id="{{ Info.key }}"></button>
                </div>
                <div ng-show="IsVisible == id">
                    <div class="card-block">
                        <p>
                            <u>Version History:</u> {{ Info.versionHistory}} </p>
                        <p>
                            <u>Domain Type:</u> {{ Info.domainType }}</p>
                        <u>Current Version:</u>
                        </br>
                        <li>
                            <u>Major:</u> {{ Info.currentVersion.major }} </li>
                        <li>
                            <u>Minor:</u> {{ Info.currentVersion.minor }} </li>
                        <li>
                            <u>Revision:</u> {{ Info.currentVersion.revision }} </li>
                        <li>
                            <u>Build:</u> {{ Info.currentVersion.build }} </li>
                        <li>
                            <u>Date Stamp:</u> {{ Info.currentVersion.dateStamp }} </li>
                        <li>
                            <u>Release Notes:</u> {{ Info.currentVersion.releaseNotes }} </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- angularjs -->
<script src="js/app.js"></script>

<!-- services -->
<script src="js/services/PracticeService.js"></script> s
<!-- Controller -->
<script src="js/controllers/ActualController.js"></script>

<!-- Directive -->
<script src="js/directives/Detailed.js"></script>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>