<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="container-blog">
            <nav class="nav navbar-default">
                <div class="navbar-brand">
                    <p>Navbar example</p>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" ng-controller="BlogController">
        <h3>HTML/CSS</h3>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="f in html"><a href="#">{{ f.component }}</a></li>
        </ul>
        <h3>AngularJS</h3>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="h in angular"><a href="#">{{ h.component }}</a></li>
        </ul>
    </div>
</div>