<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container-blog">
            <!--Navigation Bar-->
            <section id="Navigation">
                <h2>Navigation Bars</h2>
                <hr class="my-2">
                <h3>Basic Navigation Bar</h3>
                <nav class="nav navbar-default">
                    <div class="container-fluid-custom">
                        <div class="navbar-header">
                            <button class="navbar-toggle collapsed" aria-expanded="false" type="button" data-toggle="collapse" data-target="#custom-collapse1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">
                                Navbar Brand
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="custom-collapse1" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li class=""><a>Nav 1</a></li>
                                <li class=""><a>Nav 2</a></li>
                                <li class=""><a>Nav 3</a></li>
                                <li class=""><a>Nav 4</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                </br>
<xmp>
<nav class="nav navbar-default">
    <div class="container-fluid-custom">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-expanded="false" type="button" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Navbar Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class=""><a href="">Nav 1</a></li>
                <li class=""><a href="">Nav 2</a></li>
                <li class=""><a href="">Nav 3</a></li>
                <li class=""><a href="">Nav 4</a></li>
            </ul>
        </div>
    </div>
</nav>
</xmp>

            <h3>Basic Navigation Bar with CSS</h3>
            <nav class="nav navbar-default" id="navbar_css">
                    <div class="container-fluid-custom">
                        <div class="navbar-header">
                            <button class="navbar-toggle collapsed" aria-expanded="false" type="button" data-toggle="collapse" data-target="#custom-collapse2">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" id="navbarBrand_css">
                                Navbar Brand
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="custom-collapse2" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav" id="navbarNav_css">
                                <li class=""><a>Nav 1</a></li>
                                <li class=""><a>Nav 2</a></li>
                                <li class=""><a>Nav 3</a></li>
                                <li class=""><a>Nav 4</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
            <style>
                #navbar_css {
                    background-color: #083791;
                }
                
                #navbarBrand_css {
                    color: white;
                }

                #navbarNav_css {
                    color: white;
                }

                #custom-collapse {
                    color: white;
                }

                #navbar_css li>a {
                    color: white;
                }
            </style>




        </div>
    </div>
</div>