<section id="install" class="module padding-none">
    <div class="container">
        <div class="module-header">
            <h2 class="module-title">
                INSTALLS EASILY IN SECONDS
            </h2>
            <hr class="my-2">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-cascade narrower">
                    <div class="view">
                        <img src="https://static.wixstatic.com/media/03cb9a_b076657bf8af47dcbfe6c8b96148eb2e~mv2.jpg/v1/fill/w_240,h_246,al_c,q_80,usm_4.00_1.00_0.00/03cb9a_b076657bf8af47dcbfe6c8b96148eb2e~mv2.webp"
                            class="img-fluid" alt="">
                    </div>
                    <div class="card-block">
                        <p class="card-text">Remove cover on the adhesive, place Pinkie Link centered on the bottom edge of the back of your mobile
                            device. (Press firmly and allow a few seconds for drying)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-cascade narrower">
                    <div class="view">
                        <img src="https://static.wixstatic.com/media/03cb9a_ecf0a933ac3547e69865edb4657d684b~mv2.jpg/v1/fill/w_240,h_298,al_c,q_80,usm_4.00_1.00_0.00/03cb9a_ecf0a933ac3547e69865edb4657d684b~mv2.webp"
                            class="img-fluid" alt="">
                    </div>
                    <div class="card-block">
                        <p class="card-text">Place ring around whichever finger feels more comfortable. (Pinkie or Ring finger)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-cascade narrower">
                    <div class="view">
                        <img src="https://static.wixstatic.com/media/03cb9a_bc499ab4f2904f2bb2579a4ead7ad77d~mv2.jpg/v1/fill/w_240,h_246,al_c,q_80,usm_4.00_1.00_0.00/03cb9a_bc499ab4f2904f2bb2579a4ead7ad77d~mv2.webp"
                            class="img-fluid" alt="">
                    </div>
                    <div class="card-block">
                        <p class="card-text">Use your device like you normally would but with a greater sense of security and safety!</p>
                    </div>
                </div>
            </div>
        </div>
</section>