<div class="card-group">
    <div class="card">
        <img class="img-fluid" src="images/StarkNetwork_Logo2.jpg" >
        <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <hr class="my-2">
            <p class="card-text">Card text</p>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="images/tier-zero.png">
        <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <hr class="my-2">
            <p class="card-text">Card text</p>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="images/Fusion_Logo.png" >
        <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <hr class="my-2">
            <p class="card-text">Card text</p>
        </div>
    </div>
    <div class="card">
        <img class="img-fluid" src="images/tier-zero.png" >
        <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <hr class="my-2">
            <p class="card-text">Card text</p>
        </div>
    </div>
</div>