
<div class="about" ng-controller="MainController">
    <h2>Web and Mobile Developer</h2>
    <p><u>Proficient in:</u></p>
    <div class="col-lg-3 col-md-3 col-sm-6">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="list-group"> 
            <li class="list-group-item" ng-repeat="a in languages"> {{ a.lang }} </li>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="list-group">
            <li class="list-group-item" ng-repeat="b in programs"> {{ b.prog }} </li>
        </div>
    </div>
</div>
