<style>
    .Projects {
        text-align: center;
    }
</style>

<!-- <div class="Projects" ng-controller="MainController">
    <div class="card horizontal z-depth-4" ng-repeat="proj in projects">
        <div class="card-image">
            <img src=" {{ proj.img }} " height="400" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3> {{ proj.name }} </h3>
                <h4> {{ proj.created }} </h4>
                <hr>
                <h5> {{ proj.comment1 }} </h5>
                <h5> {{ proj.comment2 }} </h5>
            </div>
        </div>
    </div>
</div> -->

<div ng-controller="MainController">
    <div class="card z-depth-4" ng-repeat="proj in projects">
        <div class="card-content">
            <h3 class="name"><b> {{ proj.name }} </b></h3>
            <h4 class="created"> {{ proj.created }} </h4>
            <hr>
            <h5> {{ proj.comment1 }} </h5>
            <h5> {{ proj.comment2 }} </h5>
        </div>
    </div>
</div>