/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: white;
}

/* MenuBar CSS */
.menu-bar {
	-fx-background-color: #1D58B8;
	-fx-selection-bar: #1a4fa5;
}

.context-menu {
	-fx-background-color: #1D58B8;
	-fx-selection-bar: #1D58B8;
}

.context-menu:hover {
	-fx-background-color: #1a4af5;
}

#editD, #editA {
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

#editD:hover, #editA:hover { 
	-fx-background-color: #1d58b8;
}

#departure, #arrival, #flight, #pilot {
	-fx-text-fill: white;
	-fx-font-family: "Arial";
	-fx-font-size: 16px;
}

#info {
	-fx-text-fill: #ffe700;
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
}

.menu:hover {
	-fx-background-color: #1a4fa5;
}

.menu-item:hover {
	-fx-background-color: #1d58b8;
}

/* End MenuBar CSS */
