/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#arrivalAirport {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

#aTower, #aARTCC, #aElevation, #aUnicom, #aAtis, #aGround, #aFreq {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
}




























