

/* Arrival Inputs CSS */
#aHbox, #aVbox {
	-fx-background-color: white;
}

#aTitle {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

#aDropdown {
	-fx-text-fill: #1d58b8;
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-border-radius: 0px;
}

#aairport, #atime, #awind, #avis, #aceil, #atemp, #aalt, #adew {
	-fx-text-fill: #1d58b8;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
}

#aTimeFld, #aWindFld, #aVisibilityFld, #aCeilingFld, #aTempFld, #aAltimeterFld, #aDewFld {
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#aSaveBtn {
	-fx-background-color: #1d58b8;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
}

#aSaveBtn:pressed {
	-fx-background-color: white;
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
}
/* End Arrival Inputs CSS */








































