/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: white;
}

.scene {
	-fx-background-color: white;
}

#Temp {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 25px;
}

/* MenuBar CSS */
.menu-bar {
	-fx-background-color: #1D58B8;
	-fx-selection-bar: #1a4fa5;
}

.context-menu {
	-fx-background-color: #1D58B8;
	-fx-selection-bar: #1D58B8;
}

.context-menu:hover {
	-fx-background-color: #1a4af5;
}

#editD, #editA, #editF, #editP, #run {
	-fx-text-fill: white;
	-fx-font-family: "Arial";
}



#editD:hover, #editA:hover { 
	-fx-background-color: #1d58b8;
}

#departure, #arrival, #flight, #pilot {
	-fx-text-fill: white;
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	
}

#info {
	-fx-text-fill: #ffe700;
	-fx-font-family: "Arial";
	-fx-font-size: 22px;
}

.menu:hover {
	-fx-background-color: #1a4fa5;
}

.menu-item:hover {
	-fx-background-color: #1d58b8;
}

/* End MenuBar CSS */

/* SimInfo CSS */
#borderPane {
	-fx-background-color: white;
}

#titleText {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 21px;
}
/* End SimInfo CSS */





























