/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#planeTitle {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

#planeCrew, #planeLength, #planeSpan, #planeWidth, #planeLand, #planeTakeWeight, #planeTakeDis, #planeRange {
	-fx-text-fill: #1d58b8;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
}




























