<style>
    .Information {
        text-align: center;
    }
</style>

<div class="Information">
    <div class="card z-depth-4">
        <div class="card-content">
            <h3>Front-End Developer</h3>
            <hr>
            <h4>Proficient In</h4>
            <h5>
                Web (HTML Based)
                </br>
                WPF (Windows Presentation Foundation)
                </br> 
                Xamarin.Forms (Cross Platform Mobile Apps) 
                </br>
                UWP (Universal Windows Platform)             
            </h5>
        </div>
    </div>
</div>  